apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: quick-page-data
  namespace: quick-page
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 1Gi
